.title {
  display: block;
  width: 100%;
  position: relative;
}

wored-settings-dropdown {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
}

.drp-trigger {
  background-color: transparent;
  font-size: 1.4rem;
  padding: 10px 15px;
  width: unset !important;
  height: unset !important;
}

.drp-trigger svg {
  pointer-events: none !important;
  transform: translateY(3px);
}

.drp-wrap {
  display: none;
  position: absolute;
  top: calc(100% + 10px);
  border-radius: 4px;
  right: 0;
  padding: 20px;
  background-color: var(--color-bg-light);
  box-shadow: 0px 2px 12px rgba(0,0,0, 0.5);
}

wored-settings-dropdown button {
  background-color: var(--color-bg);
  width: 100%;
  margin-bottom: 10px;
  text-align: left;
}

label,
select {
  display: block;
  min-width: 156px;
}

label {
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 3px;
}

select {
  border: 1px solid var(--color-border);
  margin-bottom: 20px;
  height: 32px;
  line-height: 32px;
  padding: 0 16px;
  font-size: 0.8rem;
  background-color: var(--color-bg);
}