.wored-game-scope {
  --color-bg: #0a0a0a;
  --color-bg-light: #1a1a1a;
  --color-bg-lighter: #202020;
  --color-border: #353535;
  --color-text: #ffffffde;
  --color-link: #646cff;
  --color-link-hover: #8b90ec;

  --color-orange: #d47a39;
  --color-green: #4fa752;
  --color-gray: #2f2f2f;
  --color-red: #a63f3f;

  margin: 1rem;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 64px;
  position: relative;
  align-items: center;
  flex-direction: column;
  border: 1px solid var(--color-border);
  border-radius: 16px;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-text);
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  a {
    font-weight: 500;
    color: var(--color-link);
    text-decoration: inherit;
  }

  a:hover {
    color: var(--color-link-hover);
  }

  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--color-bg-light);
    cursor: pointer;
    transition: border-color 0.1s;

    &.active,
    &:hover {
      border-color: var(--color-link-hover);
    }

    &:focus,
    &:focus-visible {
      outline: 4px auto -webkit-focus-ring-color;
    }
  }

  .color-orange {
    background-color: var(--color-orange) !important;
  }

  .color-green {
    background-color: var(--color-green) !important;
  }

  .color-gray {
    background-color: var(--color-gray) !important;
  }

  /* SECTION: Keyboard */
  wored-keyboard {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 6px;
    width: 568px;

    button {
      width: 48px;
      height: 64px;
      padding: 0;
      font-size: 14px;

      &:nth-child(20),
      &:nth-child(28) {
        width: 88px;
      }

      &:disabled {
        pointer-events: none;
        color: var(--color-text);
      }
    }
  }

  /* SECTION: Controller */
  wored-controller {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .cell {
      width: 56px;
      height: 64px;
      border-radius: 4px;
      outline: none;
      text-align: center;
      font-size: 24px;
      font-weight: 700;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--color-bg-lighter);
      text-transform: uppercase;

      &.disabled {
        background-color: #1a1a1a;
      }
    }

    .row {
      display: flex;
      gap: 12px;
      position: relative;

      &:after {
        display: block;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        position: absolute;
        right: -48px;
        top: 50%;
        transform: translateY(-50%);
      }

      &.wored-winning-row::after {
        content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSIjNGZhNzUyIiBkPSJtMTAuNiAxMy44bC0yLjE1LTIuMTVxLS4yNzUtLjI3NS0uNy0uMjc1dC0uNy4yNzVxLS4yNzUuMjc1LS4yNzUuN3QuMjc1LjdMOS45IDE1LjlxLjMuMy43LjN0LjctLjNsNS42NS01LjY1cS4yNzUtLjI3NS4yNzUtLjd0LS4yNzUtLjdxLS4yNzUtLjI3NS0uNy0uMjc1dC0uNy4yNzVMMTAuNiAxMy44Wk0xMiAyMnEtMi4wNzUgMC0zLjktLjc4OHQtMy4xNzUtMi4xMzdxLTEuMzUtMS4zNS0yLjEzNy0zLjE3NVQyIDEycTAtMi4wNzUuNzg4LTMuOXQyLjEzNy0zLjE3NXExLjM1LTEuMzUgMy4xNzUtMi4xMzdUMTIgMnEyLjA3NSAwIDMuOS43ODh0My4xNzUgMi4xMzdxMS4zNSAxLjM1IDIuMTM4IDMuMTc1VDIyIDEycTAgMi4wNzUtLjc4OCAzLjl0LTIuMTM3IDMuMTc1cS0xLjM1IDEuMzUtMy4xNzUgMi4xMzhUMTIgMjJaIj48L3BhdGg+PC9zdmc+);
      }

      &.wored-losing-row::after {
        content: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSIjZGQ0ZjRmIiBkPSJtOC40IDE3bDMuNi0zLjZsMy42IDMuNmwxLjQtMS40bC0zLjYtMy42TDE3IDguNEwxNS42IDdMMTIgMTAuNkw4LjQgN0w3IDguNGwzLjYgMy42TDcgMTUuNkw4LjQgMTdabTMuNiA1cS0yLjA3NSAwLTMuOS0uNzg4dC0zLjE3NS0yLjEzN3EtMS4zNS0xLjM1LTIuMTM3LTMuMTc1VDIgMTJxMC0yLjA3NS43ODgtMy45dDIuMTM3LTMuMTc1cTEuMzUtMS4zNSAzLjE3NS0yLjEzN1QxMiAycTIuMDc1IDAgMy45Ljc4OHQzLjE3NSAyLjEzN3ExLjM1IDEuMzUgMi4xMzggMy4xNzVUMjIgMTJxMCAyLjA3NS0uNzg4IDMuOXQtMi4xMzcgMy4xNzVxLTEuMzUgMS4zNS0zLjE3NSAyLjEzOFQxMiAyMloiPjwvcGF0aD48L3N2Zz4=);
      }
    }
  }

  /* SECTION: Controller */
  wored-settings-dropdown {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 100;

    .drp-trigger {
      background-color: transparent;
      font-size: 18px;
      padding: 10px 15px;
      width: unset !important;
      height: unset !important;

      svg {
        pointer-events: none !important;
        transform: translateY(3px);
      }
    }

    .drp-wrap {
      display: none;
      position: absolute;
      top: calc(100% + 10px);
      border-radius: 4px;
      right: 0;
      padding: 20px;
      background-color: var(--color-bg-light);
      box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.5);
    }

    button {
      background-color: var(--color-bg);
      width: 100%;
      margin-bottom: 10px;
      text-align: left;
    }

    label,
    select {
      display: block;
      min-width: 156px;
    }

    label {
      font-size: 12px;
      font-weight: 400;
      margin-bottom: 3px;
      text-align: left;
    }

    select {
      border-radius: 4px;
      border: 1px solid var(--color-border);
      margin-bottom: 20px;
      height: 32px;
      line-height: 32px;
      padding: 0 16px;
      font-size: 12px;
      background-color: var(--color-bg);
    }
  }
}
