.cell {
  width: 56px;
  height: 64px;
  border-radius: 4px;
  outline: none;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #202020;
  text-transform: uppercase;
}

.cell.disabled {
  background-color: #1a1a1a;
}

form-controller {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.row {
  display: flex;
  gap: 12px;
}
