.cell {
  width: 56px;
  height: 64px;
  border-radius: 4px;
  outline: none;
  text-align: center;
  font-size: 1.6rem;
  border: none;
  background-color: #202020;
}

.cell.disabled {
  background-color: #1a1a1a;
}

form-controller {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.row {
  display: flex;
  gap: 8px;
}
