keyboard-controller {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  width: 588px;
}

keyboard-controller button {
  width: 48px;
  height: 64px;
  padding: 0;
  font-size: 1rem;
}

keyboard-controller button:nth-child(20),
keyboard-controller button:nth-child(28) {
  width: auto !important;
  padding: 0 20px;
}

