wored-keyboard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6px;
  width: 568px;
}

wored-keyboard button {
  width: 48px;
  height: 64px;
  padding: 0;
  font-size: 1rem;
}

wored-keyboard button:disabled {
  pointer-events: none;
  color: var(--color-text);
}

wored-keyboard button:nth-child(20),
wored-keyboard button:nth-child(28) {
  width: 88px;
}

